USE [master]
GO
/****** Object:  Database [IB150070]    Script Date: 10.07.2018. 18:53:31 ******/
CREATE DATABASE [IB150070]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IB150070', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\IB150070.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IB150070_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\IB150070_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IB150070].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IB150070]
GO
USE [IB150070]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10.07.2018. 18:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10.07.2018. 18:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[BirthDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuctionBids]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionBids](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[AuctionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AuctionBids] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Auctions]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auctions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[StartingPrice] [decimal](18, 2) NOT NULL,
	[BookId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsEmailSent] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Auctions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCategories]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[BookId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BookCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookOffers]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookOffers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[OfferCreatedTime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[BookId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BookOffers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[FileLocation] [nvarchar](max) NULL,
	[Autor] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[ImageLocation] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PreviousAccountBalance] [decimal](18, 2) NOT NULL,
	[NewAccountBalance] [decimal](18, 2) NOT NULL,
	[UserFinancialAccountId] [nvarchar](128) NOT NULL,
	[AdminId] [nvarchar](128) NULL,
	[DateUtc] [datetime] NOT NULL,
	[TransactionType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAudits]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAudits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActionName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserAudits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBooks]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBooks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateOfPurchase] [datetime] NOT NULL,
	[BookOfferId] [int] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[TransactionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserBooks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFinancialAccounts]    Script Date: 10.07.2018. 18:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFinancialAccounts](
	[UserFinancialAccountId] [nvarchar](128) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.UserFinancialAccounts] PRIMARY KEY CLUSTERED 
(
	[UserFinancialAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'e5a4fabf-023f-43ea-a3b3-d56d78c1c7b3', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'd9e44ed8-0336-44f8-b351-807ceb5b80c0', N'Client')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b9e6884d-a23e-4861-a015-280edf9f8023', N'd9e44ed8-0336-44f8-b351-807ceb5b80c0')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'efd4a5ef-75f3-4f7a-a5db-7f1fe0b430a6', N'e5a4fabf-023f-43ea-a3b3-d56d78c1c7b3')
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [IsActive], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [BirthDate]) VALUES (N'b9e6884d-a23e-4861-a015-280edf9f8023', N'Client', N'Sistema', 1, N'client@email.com', 0, N'ABTFLdNGXRkpLRHOGVofYLV82tPOYmxBmaNjKw7ImKRDz13utSIMSrat+MVjURTTLw==', N'4c472e72-57e1-48a9-ba93-dc3e83771490', NULL, 0, 0, NULL, 0, 0, N'mobile', CAST(N'2000-07-10T17:37:46.433' AS DateTime))
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [IsActive], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [BirthDate]) VALUES (N'efd4a5ef-75f3-4f7a-a5db-7f1fe0b430a6', N'Admin', N'Sistema', 1, N'admin@email.com', 0, N'AP5UpDGGFxOni0zpFo3DoWap+RKqnNrnvasbt3eC7UvF42F/uWzClfDTIYaVOB3EnQ==', N'c596a75b-eb34-4115-acbd-a6c83b1f440a', NULL, 0, 0, NULL, 0, 0, N'desktop', NULL)
SET IDENTITY_INSERT [dbo].[AuctionBids] ON 

INSERT [dbo].[AuctionBids] ([Id], [Amount], [UserId], [AuctionId]) VALUES (1, CAST(9.00 AS Decimal(18, 2)), N'b9e6884d-a23e-4861-a015-280edf9f8023', 1)
SET IDENTITY_INSERT [dbo].[AuctionBids] OFF
SET IDENTITY_INSERT [dbo].[Auctions] ON 

INSERT [dbo].[Auctions] ([Id], [StartTime], [EndTime], [StartingPrice], [BookId], [IsActive], [IsEmailSent]) VALUES (1, CAST(N'2018-07-08T18:45:40.000' AS DateTime), CAST(N'2018-07-20T18:45:40.000' AS DateTime), CAST(8.00 AS Decimal(18, 2)), 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Auctions] OFF
SET IDENTITY_INSERT [dbo].[BookCategories] ON 

INSERT [dbo].[BookCategories] ([Id], [Created], [IsActive], [UserId], [BookId], [CategoryId]) VALUES (1, CAST(N'2018-07-10T16:23:36.510' AS DateTime), 1, N'efd4a5ef-75f3-4f7a-a5db-7f1fe0b430a6', 1, 1)
INSERT [dbo].[BookCategories] ([Id], [Created], [IsActive], [UserId], [BookId], [CategoryId]) VALUES (2, CAST(N'2018-07-10T16:23:36.537' AS DateTime), 1, N'efd4a5ef-75f3-4f7a-a5db-7f1fe0b430a6', 1, 2)
INSERT [dbo].[BookCategories] ([Id], [Created], [IsActive], [UserId], [BookId], [CategoryId]) VALUES (3, CAST(N'2018-07-10T16:23:36.537' AS DateTime), 1, N'efd4a5ef-75f3-4f7a-a5db-7f1fe0b430a6', 1, 3)
SET IDENTITY_INSERT [dbo].[BookCategories] OFF
SET IDENTITY_INSERT [dbo].[BookOffers] ON 

INSERT [dbo].[BookOffers] ([Id], [Price], [OfferCreatedTime], [IsActive], [BookId]) VALUES (1, CAST(10.00 AS Decimal(18, 2)), CAST(N'2018-07-10T16:36:00.157' AS DateTime), 1, 1)
INSERT [dbo].[BookOffers] ([Id], [Price], [OfferCreatedTime], [IsActive], [BookId]) VALUES (2, CAST(11.00 AS Decimal(18, 2)), CAST(N'2018-07-10T16:36:03.500' AS DateTime), 1, 2)
INSERT [dbo].[BookOffers] ([Id], [Price], [OfferCreatedTime], [IsActive], [BookId]) VALUES (3, CAST(12.00 AS Decimal(18, 2)), CAST(N'2018-07-10T16:36:08.100' AS DateTime), 0, 3)
SET IDENTITY_INSERT [dbo].[BookOffers] OFF
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Title], [Description], [ReleaseDate], [FileLocation], [Autor], [IsActive], [UserId], [FileName], [ImageLocation]) VALUES (1, N'Solunska 28', N'O novcu i strastima.', CAST(N'2018-07-10T18:21:36.510' AS DateTime), N'uploads/books/1/OOP - V2.1 - Zadaci.pdf', N'Dr Nele Karajlić', 1, N'efd4a5ef-75f3-4f7a-a5db-7f1fe0b430a6', N'OOP - V2.1 - Zadaci.pdf', N'uploads/books/1/solunska_28-dr_nele_karajlic_v.jpg')
SET IDENTITY_INSERT [dbo].[Books] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName], [IsActive], [UserId]) VALUES (1, N'Povijest', 1, N'efd4a5ef-75f3-4f7a-a5db-7f1fe0b430a6')
INSERT [dbo].[Categories] ([Id], [CategoryName], [IsActive], [UserId]) VALUES (2, N'Drama', 1, N'efd4a5ef-75f3-4f7a-a5db-7f1fe0b430a6')
INSERT [dbo].[Categories] ([Id], [CategoryName], [IsActive], [UserId]) VALUES (3, N'Domaći autori', 1, N'efd4a5ef-75f3-4f7a-a5db-7f1fe0b430a6')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Id], [Amount], [PreviousAccountBalance], [NewAccountBalance], [UserFinancialAccountId], [AdminId], [DateUtc], [TransactionType]) VALUES (1, CAST(500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), N'b9e6884d-a23e-4861-a015-280edf9f8023', N'efd4a5ef-75f3-4f7a-a5db-7f1fe0b430a6', CAST(N'2018-07-10T16:44:15.610' AS DateTime), 0)
INSERT [dbo].[Transactions] ([Id], [Amount], [PreviousAccountBalance], [NewAccountBalance], [UserFinancialAccountId], [AdminId], [DateUtc], [TransactionType]) VALUES (2, CAST(22.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(478.00 AS Decimal(18, 2)), N'b9e6884d-a23e-4861-a015-280edf9f8023', NULL, CAST(N'2018-07-10T16:44:25.007' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
SET IDENTITY_INSERT [dbo].[UserAudits] ON 

INSERT [dbo].[UserAudits] ([Id], [ActionName], [Description], [Date], [UserId]) VALUES (1, N'UPDATE', N'FinancialAccountUpdate - b9e6884d-a23e-4861-a015-280edf9f8023 - 500,0KM', CAST(N'2018-07-10T16:44:15.470' AS DateTime), N'efd4a5ef-75f3-4f7a-a5db-7f1fe0b430a6')
SET IDENTITY_INSERT [dbo].[UserAudits] OFF
SET IDENTITY_INSERT [dbo].[UserBooks] ON 

INSERT [dbo].[UserBooks] ([Id], [DateOfPurchase], [BookOfferId], [UserId], [TransactionId]) VALUES (1, CAST(N'2018-07-10T16:44:25.010' AS DateTime), 8, N'b9e6884d-a23e-4861-a015-280edf9f8023', 2)
INSERT [dbo].[UserBooks] ([Id], [DateOfPurchase], [BookOfferId], [UserId], [TransactionId]) VALUES (2, CAST(N'2018-07-10T16:44:25.023' AS DateTime), 14, N'b9e6884d-a23e-4861-a015-280edf9f8023', 2)
SET IDENTITY_INSERT [dbo].[UserBooks] OFF
INSERT [dbo].[UserFinancialAccounts] ([UserFinancialAccountId], [Balance]) VALUES (N'b9e6884d-a23e-4861-a015-280edf9f8023', CAST(478.00 AS Decimal(18, 2)))
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuctionId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_AuctionId] ON [dbo].[AuctionBids]
(
	[AuctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AuctionBids]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_BookId] ON [dbo].[Auctions]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_BookId] ON [dbo].[BookCategories]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[BookCategories]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[BookCategories]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_BookId] ON [dbo].[BookOffers]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Books]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Categories]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AdminId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_AdminId] ON [dbo].[Transactions]
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserFinancialAccountId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserFinancialAccountId] ON [dbo].[Transactions]
(
	[UserFinancialAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserAudits]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookOfferId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_BookOfferId] ON [dbo].[UserBooks]
(
	[BookOfferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransactionId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionId] ON [dbo].[UserBooks]
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserBooks]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserFinancialAccountId]    Script Date: 10.07.2018. 18:53:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserFinancialAccountId] ON [dbo].[UserFinancialAccounts]
(
	[UserFinancialAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auctions] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Auctions] ADD  DEFAULT ((0)) FOR [IsEmailSent]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateUtc]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [TransactionType]
GO
ALTER TABLE [dbo].[UserBooks] ADD  DEFAULT ((0)) FOR [TransactionId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuctionBids]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuctionBids_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AuctionBids] CHECK CONSTRAINT [FK_dbo.AuctionBids_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuctionBids]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuctionBids_dbo.Auctions_AuctionId] FOREIGN KEY([AuctionId])
REFERENCES [dbo].[Auctions] ([Id])
GO
ALTER TABLE [dbo].[AuctionBids] CHECK CONSTRAINT [FK_dbo.AuctionBids_dbo.Auctions_AuctionId]
GO
ALTER TABLE [dbo].[Auctions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Auctions_dbo.Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[Auctions] CHECK CONSTRAINT [FK_dbo.Auctions_dbo.Books_BookId]
GO
ALTER TABLE [dbo].[BookCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookCategories_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BookCategories] CHECK CONSTRAINT [FK_dbo.BookCategories_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BookCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookCategories_dbo.Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BookCategories] CHECK CONSTRAINT [FK_dbo.BookCategories_dbo.Books_BookId]
GO
ALTER TABLE [dbo].[BookCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookCategories_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[BookCategories] CHECK CONSTRAINT [FK_dbo.BookCategories_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[BookOffers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookOffers_dbo.Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BookOffers] CHECK CONSTRAINT [FK_dbo.BookOffers_dbo.Books_BookId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.AspNetUsers_AdminId] FOREIGN KEY([AdminId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.AspNetUsers_AdminId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.UserFinancialAccounts_UserFinancialAccountId] FOREIGN KEY([UserFinancialAccountId])
REFERENCES [dbo].[UserFinancialAccounts] ([UserFinancialAccountId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.UserFinancialAccounts_UserFinancialAccountId]
GO
ALTER TABLE [dbo].[UserAudits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAudits_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserAudits] CHECK CONSTRAINT [FK_dbo.UserAudits_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserBooks_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserBooks] CHECK CONSTRAINT [FK_dbo.UserBooks_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserBooks_dbo.BookOffers_BookOfferId] FOREIGN KEY([BookOfferId])
REFERENCES [dbo].[BookOffers] ([Id])
GO
ALTER TABLE [dbo].[UserBooks] CHECK CONSTRAINT [FK_dbo.UserBooks_dbo.BookOffers_BookOfferId]
GO
ALTER TABLE [dbo].[UserBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserBooks_dbo.Transactions_TransactionId] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transactions] ([Id])
GO
ALTER TABLE [dbo].[UserBooks] CHECK CONSTRAINT [FK_dbo.UserBooks_dbo.Transactions_TransactionId]
GO
ALTER TABLE [dbo].[UserFinancialAccounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserFinancialAccounts_dbo.AspNetUsers_UserFinancialAccountId] FOREIGN KEY([UserFinancialAccountId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserFinancialAccounts] CHECK CONSTRAINT [FK_dbo.UserFinancialAccounts_dbo.AspNetUsers_UserFinancialAccountId]
GO
USE [master]
GO
